<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="reservation" type="com.example.charter.model.ReservationRepository.java"*/-->
    <!--/*@thymesVar id="yacht" type="com.example.charter.model.YachtRepository.java"*/-->
    <!--/*@thymesVar id="customer" type="com.example.charter.model.CustomerRepository.java"*/-->
    


    <form action="#" method="GET" th:action="@{/showNewReservationForm2}" th:object="${reservation}">

            <fieldset>

              


                    <input type="hidden" value="Edit reservation for selected date" th:field="*{reservedCustomerId}"/>
                    <input type="hidden" value="Available yachts added to list" th:field="*{reservedYachtId}"/>
    
       
    
                    <table>
                        <td>
                            <label for="">Start date:</label>
                            <input type="date" id="${reservationFrom}" name="reservationFrom" th:field="*{reservationFrom}"
                            value="2023-05-01"
                            min="2023-01-01" max="2023-12-31">
                        </td>
                
                        <td>
                            <label for="">End date:</label>
                            <input type="date" id="${reservationTo}" name="reservationTo" th:field="*{reservationTo}"
                            value="2023-05-01"
                            min="2023-01-01" max="2023-12-31">
                        </td>


                
                
                    </table>

                    
                    <input type="submit" onClick="myFunction()" here/> 
                    <br>
<a th:href="@{/home}">Back to home screen</a>

    <script>
      function myFunction() {
        window.location.href="http://localhost:8081/showAllReservationsList";  
      }
    </script>

       

    </form>
    
    




</main>

</body>
</html>