<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>

<body>

<main><div>
    
    <!--/*@thymesVar id="customer" type="com.example.charter.model.CustomerController.java"*/-->
    <!--/*@thymesVar id="yacht" type="com.example.charter.logic.TempService.java"*/-->

    
<fieldset>
  <legend>Yacht details</legend>
    <div><table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Length</th>
    
    
        </tr>
        </thead>
        <tbody>
        <tr th:each="yacht : ${yacht}">
          <td th:text="${yacht.name}"></td>
          <td th:text="${yacht.type}"></td>
          <td th:text="${yacht.length}"></td>

    
        </tr>
        </tbody>
      </table>
      </div>
    </fieldset>


<br>

<br>
<a th:href="@{/showAllReservationsList}">Back</a>

</main>
</body>
</html>